#heart {
	display: none;
}
.likeheart {
	input[type="checkbox"] {
		font-weight: 400;
		&:checked {
			~ {
				.fa-heart {
					font-weight: 900;
					color: $color_2;
				}
			}
		}
	}
	.fa-heart {
		font-weight: 400;
	}
}

.checking {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20%;
	height: 100%;
	background-color: $background-color_1;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
}