/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --primary-color: #9356DC;
    --secondary-color:#FF79DA;
    --tertiary-color:#99E2D0;
}
h2{
    font-family: 'Shrikhand';
}

h3{
    font-family: 'Shrikhand' ;
}

p{
    font-family: 'roboto';
}
body {
    margin: 0px;
}

a{
    text-decoration: none;
    color: black;
}

.column{
    display: flex;
    flex-direction: column;
}


/* header */
header{
    display: flex;
    img{
        align-self: center;
        width: 50%;
        height: auto;
    }
    
}
.header-accueil {
    align-items: center;
    justify-content: center;
    div{
        text-align: center;
        width: 100%;
    }
}
.header-menu{
    background: white;
    width: 100%;
}

.location {
    border:2px solid rgb(95, 91, 91);
    background-color: #c4c3c385 ;
    height: 30px;
    padding-top: 9px;
}

/****** card ***********/
.card {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    img {
        object-fit: cover;
    }
}


.card-title {
    font-size: 16px;
}

.card-subtitle {
    margin: 0;
}

/* border */

.border-radius-20 {
    border-radius: 20px;
}
.border-radius-30 {
    border-radius: 30px;
}
.border-top-radius-30 {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
footer{
    margin-top: 15px;
    width: 100%;
    background-color: rgba(12, 12, 11, 0.823);
    color: white;
    a{
        width: 90%;
        color: white;
    }
    section{
        width: 100%;
        display: flex;
        flex-direction: column;
    
    }
}



/* fonctionnement */
.Fonctionnement{
    align-items: center;
    justify-content: center;
    margin: 10px;
    section{
        display: flex;
        width: 100%;
        align-items: center;
        flex-direction: column;
    }
    div{
        display: flex;
        border-radius: 20px;
        background-color: var(--main-bg-color);
        width:60%;
        margin: 10px;
        text-align: center;
        justify-content: center;
        flex-direction: row;
    }
    p{
        border-radius: 60px;
        background-color: var(--primary-color);
        color: white;
        width: 18px;
        height: 18px;
        margin-bottom: 7px;
    
    }
}


.intro{
    width: 100%;
    align-items: center;
    text-align: center;
    background: var(--main-bg-color);
    height: 250px;
    a{
        width: 35%;
        max-width: 240px;
        height: 50px;
    }   
}

.bouton-explorer{
    background:linear-gradient(var(--secondary-color) ,var(--primary-color));
    text-align: center;
    height: 50px;
    p{
        padding-top: 10px;
    }
    
}

/* menu */
.menu{
    margin-top: -40px;
    width: 100%;
    background-color: var(--main-bg-color);
    justify-content: center;
    position: relative;
    .card{
        width: 95%;
        height: 80px;
        margin: 15px;
    }
    .card-txt{
        padding-top: 4px;
        padding-left: 8px;
    }
    .prix{
        align-items: flex-end;
    }
}
.menu-titles{
    padding-top: 10px;
    padding-left: 10px;
}


.order-button{
    margin-top: 10px;
}
/*  restaurant  */

.restaurant {
    background-color: var(--main-bg-color);
    padding-top: 20px;
    padding-bottom: 25px;
    margin-top: 30px;
}
.restaurant-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    a {
        width: 100%;
    }
    .card{
        width: 100%;
        margin: 10px;
        height: 230px;
    }
    img{
        width: 100%;
        height: 80%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .card-txt{
        margin-left: 8px;
    }

}


/* container  */

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    button{
        background:linear-gradient(var(--secondary-color) , var(--primary-color));
        border: none;
        height: 50px;
        width: 45%;
        max-width: 240px;
        text-align: center;
    }
    img{
        width: 100%;
        height: 250px;
    }
}



/* desktop  */
@media (min-width: 1024px) {
    /* acceuil */
    header img{
        width: 25%;
    }
    .Fonctionnement{
        align-items: flex-start;
        section{
            display: flex;
            flex-direction: row;
            width: 100%;
        }
    }
    
    .restaurant-card{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around ;
        a{
            width:40%;
        }
    }
    
    footer{
         h3{
        margin-right: 5px;
        }
         .column {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        height: 150px;
        }
    }
    .footer-div{
        display: flex;
        flex-direction: row;
    }

    /* restaurant */

    .menu{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        div{
        width: 90%;
        }
    }
}