$color_1: black;
$color_2: var(--primary-color);
$color_3: gray;
$color_4: white;
$color_5: transparent;
$font-family_1: "Roboto", sans-serif;
$font-family_2: "roboto";
$font-family_3: 'shrikhand';
$background-color_1: rgb(174, 235, 174);
$background-color_2: rgba(196, 195, 195, 0.5215686275);
$background-color_3: white;
$background-color_4: rgba(12, 12, 11, 0.823);
$background-color_5: var(--main-bg-color);
$background-color_6: var(--primary-color);