.fa-circle-check {
	color: $color_4;
	font-size: xx-large;
}

.fa-arrow-left {
	font-size: xx-large;
	padding-left: 8px;
}
.fa-location-dot {
	padding-right: 8px;
	color: $color_1;
}

.fa-grey {
	color: $color_3;
}